.searchTextField {
    z-index: 100;
    background-color: lightgray;
    position: absolute;
    top: 20px;
    right: 90px;
    cursor: pointer;
    border: none;
    color: black;
    border-radius: 4px;
    height: 40px;
    width: 250px;
  }