<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Routing System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS Stylesheet of the Login -->
        <link rel="stylesheet" href="LandingPage.css">
    </head>
    <body>
        <container>
            <div class="pane">
                <div class="container">
                    <img class="logo" src="e-reader_Logo.svg" alt="E-Reader Logo" />
                    <div><label>Select Module Type</label></div>
                    <div class="btn-container">
                        <div id="btn"></div>
                        <button class="toggle-btn" type="button" ><img class="icon1" src="Eng_Icon.svg" alt="E-Reader Logo" />English Module</button>
                        <button class="toggle-btn" type="button" ><img class="icon2" src="Fil_Icon.svg" alt="E-Reader Logo" />Filipino Module</button>
                    </div>
                </div>
            </div>
    </container>
    </body>
</html>