* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .pane {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-color: blue;
  }
  
  .container{
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    text-align:left;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 99;
    padding: 30px;
    border-radius: 15px;
  }

.container-quest{
    padding: 10px;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: left;
    background: rgba(61, 97, 11, 0.623);
    border-radius: 16px;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(107, 168, 20, 0.3);
    overflow-y: scroll;
    overflow-x: hidden;
  }

.toggle-btn{
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border: 0;
    outline: none;
    width: 200px;
    height: 200px;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: rgba(202, 231, 37, 0.651);
    border-radius: 16px;
    box-shadow: 0 50px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
 