.searchButton {
    color: white;
    position: absolute;
    top: 20px;
    right: 10px;
    height: 42px;
    width: 70px;
    text-align: center;
    font-weight: bold;
    background-color: #8B4513;
}